@font-face {
    font-family: 'iconf';
    src: url('Untitled.eot?#iefix') format('embedded-opentype'), url('Untitled.woff') format('woff'), url('Untitled.ttf') format('truetype'), url('Untitled.svg#Untitled') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    display: block;
}

.icon:before,
.icon:after {
    font-family: iconf;
}