//weather.css
body {
  font-family: Helvetica;
}

//包裹框
.wrap {
  position: relative;
}

//包裹框
//加载中
#load {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
  text-align: center;
}

#load .cloud {
  position: absolute;
  left: 50%;
  bottom: 55%;
  width: 4.7rem;
  height: 4.7rem;
  padding: 1.5rem;
  margin: -3.1rem;
  border-radius: 50%;
  /*mark:以下两句话，能实现圆阴影*/
  background: repeating-radial-gradient(at 50% 50%, rgba(255, 255, 255, .5) 0px, rgba(255, 255, 255, 0) 7.7rem);
  box-shadow: 0 0 6rem rgba(255, 255, 255, .6);
}

#load img {
  width: 100%;
}

#load .bar {
  position: absolute;
  left: 13.3%;
  top: 50%;
  width: 74.5%;
  height: .9rem;
  border: 1px solid #000;
  border-radius: .625rem;
  margin: 0 auto;
  background: repeating-linear-gradient(-45deg, #6f123e 0rem, #6f123e .625rem, #db88be .625rem, #db88be 1.25rem);
  animation: 5s move linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 12.5rem 0;
  }
}

//加载中
//内容框
.content {
  position: relative;
  margin: .375rem .625rem 0;
  height: 22rem;
  border-radius: .3rem;
  box-shadow: 0 0 2px #c7c8cb;
}

.weather {
  /*display: none;*/
}

.today {
  position: relative;
  height: 9.84375rem;
  background-color: #6ed4ff;
  color: #fff;
}

.location {
  height: 2.875rem;
  line-height: 2.875rem;
  font-size: .8125rem;
}

.location span,
.location time {
  float: left;
}

.location span {
  margin: 0 2rem 0 1.9375rem;
  position: relative;
}

.temp {
  padding-left: 1rem;
}

.temp span {
  display: block;
}

.temp span:nth-of-type(1) {
  line-height: 2.25rem;
  font-size: 2.25rem;
}

.temp span:nth-of-type(2) {
  height: 1.0625rem;
  line-height: 1.0625rem;
  font-size: .8125rem;
  text-indent: .25rem;
}

.air {
  padding: .875rem 0 .40625rem 1.21875rem;
}

.air span {
  display: block;
  line-height: 1.1875rem;
  font-size: .6875rem;
}

.nowImg {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 4.7rem;
  height: 4.7rem;
  padding: 1.5rem;
  border-radius: 50%;
  /*mark:以下两句话，能实现圆阴影*/
  background: repeating-radial-gradient(at 50% 50%, rgba(255, 255, 255, .5) 0px, rgba(255, 255, 255, 0) 7.7rem);
  box-shadow: 0 0 6rem rgba(255, 255, 255, .6);
}

.nowImg img {
  width: 100%;
  height: 100%;
}

.forcast {
  overflow: hidden;
  height: 9.125rem;
  border-bottom: 1px solid #e5e5e5;
  color: #545454;
}

.forcast li {
  float: left;
  width: 33.3%;
  padding: .3125rem 0 .1875rem 0;
  text-align: center;
}

.forcast li:nth-of-type(2) {
  position: relative;
}

.forcast li:nth-of-type(2):before {
  content: '';
  position: absolute;
  left: 0;
  top: .625rem;
  width: 1px;
  height: 7.375rem;
  background: #e3e3e7;
}

.forcast li:nth-of-type(2):after {
  content: '';
  position: absolute;
  right: 0;
  top: .625rem;
  width: 1px;
  height: 7.375rem;
  background: #e3e3e7;
}

.forcast li span {
  display: block;
  font-size: .75rem;
  line-height: 1.5rem;
}

.forcast li img {
  height: 3.84375rem;
  width: 3.84375rem;
}

.ftime {
  height: 2.6875rem;
  padding: .25rem 0 0 1rem;
  line-height: 2.6875rem;
  font-size: .75rem;
  color: #717171;
}

.pubTime {
  margin: .28125rem 0 0 1.0625rem;
  height: 2.6875rem;
  line-height: 2.6875rem;
  font-size: .75rem;
  color: #717171;
}

//内容框
//weather.css
